{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-3">Poll Questions</h1>
	{% if latestQuestions %}
		{% for qstn in latestQuestions %}
			<div class="card mb-3">
				<div class="card-body">
					<p class="lead">{{qstn.questionText}}</p>
					<a href="{% url 'polls:detail' qstn.id %}" class="btn btn-primary btn-sm">Vote Now</a>
					<a href="{% url 'polls:results' qstn.id %}" class="btn btn-secondary btn-sm">Show Question Stats</a>
				</div>
			</div>
		{% endfor %}
	{% else %}
	<h1>MISS</h1>
	{% endif %}

{% endblock %}